{% extends 'base/main.html' %}

{% block content %}
    <div class="header-bar">
        <h1>Register</h1>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <label style="margin-top: 1em">{{ form.username.label }}:</label>
            {{ form.username }}
            {{ form.errors.username }} {# username errors #}
            
            <label style="margin-top: 1em">{{ form.password1.label }}:</label>
            {{ form.password1 }}

            <label style="margin-top: 1em">{{ form.password2.label }}:</label>
            {{ form.password2 }}
            {{ form.errors.password2 }} {# password errors #}

            <input style="margin-top: 1em" class="button" type="submit" value="Register">
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
{% endblock content %}